.content {
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
    margin-top: calc(3.375rem / 2 * -1);
    padding: 0 1rem;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    height: 3.375rem;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;

    color: #fff;
    background: var(--blue-700);

    border: none;
    outline: none;

    padding: 1rem;
    border-radius: 8px;
}

.todoListContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
}

.todoListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 0.5rem;

    margin-bottom: 1.5rem;

    font-weight: bold;
}

.todoListHeader span {
    background: var(--gray-400);
    padding: 0.25rem 0.75rem;
    border-radius: 16px;
    color: var(--gray-200);
}

.todoListHeader > div:first-child {
    color: var(--blue-700);
}

.todoListHeader > div:last-child {
    color: var(--purple-700);
}

.todoList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 0.5rem;

    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--gray-400);
    background: var(--gray-500);
    color: var(--gray-100);
}

.todoItem > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.todoItem > svg {
    cursor: pointer;
    color: var(--gray-300);
}

.completedTodo {
    color: var(--gray-300);
    text-decoration: line-through;
}

.emptyTodoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    color: var(--gray-300);
    line-height: 1.6;

    padding: 4rem 1.5rem;

    border-radius: 8px;
    border-top: 1px solid var(--gray-400);
}

.emptyTodoList svg {
    color: var(--gray-400);
    margin-bottom: 1rem;
}



